<div class="resource-list-container">
    <!--{{resources}}
    <br/>-->
    <div class="resource-item" ng-repeat="resource in resources" ng-init="myResourceId = resource._id; itemId = resource._id; contentCreatorId = resource.userId">
        <!--
      <div class=""> {{resource.description}}</div>
    <div class=""> {{resource.content}} </div>
--><a class="resource-link" href="{{resource.content}}">{{resource.description}}</a> <flag></flag> <rating></rating>
        <comment></comment>
       
    </div>
</div>