<form class="class-search-form form-group">
    <input name="class-search" ng-focus = "searchingForClass = true"  ng-model = "filters.search" class="class-search-box form-control" type="text" placeholder="Search for classes">
    <div  ng-repeat="class in classes | filter: filters.search">
     
        <span  ui-sref="class({id: class._id})" class ="class-result" ng-show="searchingForClass" ng-hide="!searchingForClass" ng-bind="class.className"></span>
    </div>
</form>
<form class="class-create-form">
    <!--<input id ="class-newname" ng-model = "newClass.className" type="text" placeholder="Enter Name of New Class">-->
    <button ng-click="creatingClass = true" type="button" id="start-create-class-button" class="start-create-class-button btn btn-block">Add Class</button>
    <div ng-show="creatingClass">
        <label>Class Name: </label><input name="new-class-name" class = "form-control" ng-model ="newClass.className" type="text"/> <br>
        <label>Description: </label><input class="form-control" id="new-class-description" ng-model ="newClass.description"/> <br>
        <label>Syllabus/Syllabi:  </label><input class = "input" type="file"/>
        <button id="finish-create-class-button" ng-click="addClass()" class="btn btn-primary">Create Class</button>
        <button class="btn btn-primary">Add more (resources, topics, documents)</button>
    </div>
</form>
