<head>
    <base href="/">
    <meta name="google-signin-client_id" content="790420371080-3e9c1f3o885o10tiksumopauv0tmcn1l.apps.googleusercontent.com"> </head>

<body ng-app="elsewhere">
    <div id="page-header">UC @Elsewhere</div>
    <div class="container">
        <div class="row">
            <div ng-if="location.path() !== 'login'">
                <subscribed-items-sidebar class="col-md-4 col-lg-4"></subscribed-items-sidebar>
            </div>
            <div class="col-md-8 col-lg-8 main-content-container" ui-view=""></div>
            <!--<home class ="col-md-8 col-lg-8"></home>-->
        </div>
    </div>
</body>