/* CSS declarations go here */

body,
html {
    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 !important;
    background-color: lightgray;
}

#page-header {
    color: white;
    background-color: #000080;
    width: 100vw;
    height: 7vh;
    font-size: 2em;
    padding-left: 7vw;
    box-shadow: 0px 5px 5px #888888;
}

.subscribed-class-list-item {
    font-size: 1.5em;
}

.class-header {
    font-size: 2em;
}

.class-description {
    font-size: 1em;
}

#subscribed-classes-header {
    font-size: 1.9em;
    margin-bottom: 1vh;
}

.subscribed-classes-container {
    margin-left: 5vw;
    padding-top:20px;
}

.main-content-container {
    padding-top:20px;
    box-shadow: 0px 5px 5px #888888;
    background-color: white;
    height: 90vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-bottom: 20vh;
}

.content-container {
    padding: 0 5vw 0 5vw;
    margin: 0 5vw 0 5vw;
    background-color: white;
}

.content-section {
    margin-top: 5vh;
    font-size: 3.5em;
}

.topic-container {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
    border-bottom-color: gray;
}

.topic-name {
    font-size: 1.5em;
    position: relative;
}

.topic-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.topic-description {
    font-size: 1.2em;
    color: gray;
}

.class-subscribe-button,
.class-add-topic-button {
    margin-bottom: 5px;
}

.new-topic-submit {}

.add-resource-button,
.show-resource-button,
.hide-resource-button {
    right: 10px;
    top: 5px;
    float: right;
    margin-left: 7px;
    margin-right: 7px;
}

.new-resource-form-container {
    margin-top: 10px;
}

.resource-item {}

.resource-link {
    font-size: 1.2em;
    font-weight: bolder;
}

.comment-container {
    padding: 5px;
}

.comment-item {
    margin-top: 5px;
    padding-left: 10px;
}

.comment-item-username {
    font-weight: bold;
}

.show-new-comment-form-button {
    cursor: pointer;
    padding-left: 10px;
}

.show-new-comment-form-button-container {
    display: inline-block;
    background-color: white;
    border-top: dotted 1px;
    border-top-color: black;
}

.ratings-coming-soon {
    font-style: italic;
}

.splash-content-section {}

.splash-content-section-header {
    margin-top: 5vh;
    font-size: 3em;
    border-bottom: solid 3px;
    border-bottom-color: black;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 3.5em;
}

.faq-item {
    border-bottom: dotted 1px;
    border-color: black;
    padding: 20px;
}

.faq-question {
    font-weight: bolder;
}

.faq-answer {}

.content-text {
    align-items: center;
    display: flex;
}

.splash-content-section-image {
    float: right;
}

.splash-headline {
    font-size: 4em;
}

.empty-flag{
    color:gray;
}

.filled-flag{
    color:red;
}