<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div ng-transclude="title"></div>
            </div>
            <div class="modal-body">
                <div ng-transclude="body"></div>
            </div>
            <!-- <div class="modal-footer"> </div>--></div>
    </div>
</div>