<div  ng-if="$scope.user.name !== undefined || $scope.user.name !== 'undefined' " class="subscribed-classes-container">
    <!--TODO:  actually implement signout...-->
    <!--     <a href="#" onclick="signOut()">Sign out</a>-->
    <div ng-if="$scope.user.name !== undefined || $scope.user.name !== 'undefined' ">{{'Hello ' + user.name}}</div>
    <div id="subscribed-classes-header">Subscribed Classes</div>
    <div class="subscribed-class-list-item" ui-sref="class({id: subClass.classId})" ng-repeat="subClass in subscribedClasses">{{subClass.className}}</div>
</div>