<div ng-click="viewTopicDetails()" class="panel panel-default topic-container">
    <div class="panel-heading topic-name"> {{myTopic.topicName}}
        <flag></flag> <span ng-click="viewTopicDetails()" ng-hide="!isCollapsed" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <!-- <span ng-hide="isCollapsed" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>-->
        <button ng-hide="isCollapsed" ng-click="showNewResourceForm()" class="btn btn-small add-resource-button">Add Resource</button>
        <!--<button ng-hide="!showingResources" ng-click="hideResources()" class="btn btn-small hide-resource-button">Hide Resources</button>-->
        <div class="topic-description"> {{myTopic.description}} </div>
        <modal id="resourceModal">
            <modal-title>I'M A TITLE</modal-title>
            <modal-body>I'M THE BODY. I'M GROWN. </modal-body>
        </modal>
    </div>
    <div ng-hide="!showingResources" class="panel-body">
        <div>
            <div ng-if="myTopic !=='undefined'  ">
                <resource-list ng-init="myTopicId = $parent.myTopic._id"></resource-list>
            </div>
        </div>
        <div class="new-resource-form-container">
            <form class="form form-group" ng-hide="!showingNewResourceForm">
                <input class="form-control new-resource-description" placeholder="describe the resource (e.g. youtube tutorial on algebra)" type="text" ng-model="newResource.description" />
                <input class="form-control new-resource-content" placeholder="put link to resource here" type="text" ng-model="newResource.content" />
                <button ng-click="addResource(myTopic)" class="btn btn-small new-resource-submit">Submit Resource</button>
            </form>
        </div>
    </div>
</div>