<div class="well comment-container">
    <div class="comment-list-container">
        <div class="comment-item" ng-repeat="comment in comments"> <span class="comment-item-username">{{comment.userName}}</span>: <span class="comment-item-body">{{comment.comment}}</span> <flag itemType=3></flag> </div>
    </div>
    <!--<div ng-click="showNewCommentForm()"  class="show-new-comment-form-button">-->
    <span ng-click="showNewCommentForm()" class=" show-new-comment-form-button glyphicon glyphicon-comment" aria-hidden="true"></span>
    <!--Comment </div>-->
    <div ng-hide="!showingNewCommentForm" class="new-comment-container">
        <form class="form-group">
            <input ng-model="newComment.comment" placeholder="Enter comment here" class="form-control new-comment-text" type="text" />
            <button ng-click="addComment()" class="btn btn-small">Add Comment</button>
        </form>
    </div>
</div>