<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<script>
</script>
<div>Please register or sign in using your secure Google account: </div>
<div id="google-signin-button" class="g-signin2" data-onsuccess="onSignIn"></div>
<!--<div class="content-container ">-->
    <div class="text-center splash-headline">Everyone should be able to learn content from somewhere else. From Elsewhere.</div>
    <div class="splash-content-section-header">Why do we need Elsewhere?</div>
    <div class="row splash-content-section">
        <div class="col-lg-6 col-md-6 content-text">Trying to learn without ample resources is frustrating. Often times you can use more resources besides the one the professor gives. </div><img class="img img-responsive splash-content-section-image col-lg-6 col-md-6" ng-src="./res/pictures/frustrated-with-writing.PNG" /> </div>
    <div class="row splash-content-section">
        <div class="col-lg-6 col-md-6 content-text"> Sharing resources with your peers ensures everyone is well-equiped as possible. </div><img class="img img-responsive splash-content-section-image col-lg-6 col-md-6" ng-src="/res/pictures/sharing.PNG" /> </div>
    <div class="splash-content-section-header">What is Elsewhere?</div>
    <div id="What" class=" splash-content-section"> Elsewhere is a community-driven knowledgebase for topics in college classes. It allows students to share and add resources such as study guides, examples, and old tests with their classmates. </div>
    <div class="splash-content-section-header">FAQ</div>
    <div class="splash-content-section">
        <div class="faq-item">
            <div class="faq-question"> What kind of resources will you be sharing?</div>
            <br/>
            <div class="faq-answer text-info"> At the first iteration, Elsewhere will support any links, PDFs, electronic documents (.docx, .xls). Future iterations may include embedded videos, etc. </div>
        </div>
        <div class="faq-item">
            <div class="faq-question"> How will you police what content users upload?</div>
            <br/>
            <div class="faq-answer text-info"> There will be a flag/report mechanic that will alert me directly when there is an inappropriate item(s) added. </div>
        </div>
        <div class="faq-item">
            <div class="faq-question"> Aren't there other services out there that do the same thing?</div>
            <br/>
            <div class="faq-answer text-info"> Elsewhere is different from many related services in that it is: free-to-use, curated by the community, and organized by classes and topics. </div>
        </div>
        <div class="faq-item">
            <div class="faq-question"> Are there some legal issues that may arise re: shared materials (e.g. books, proprietary materials)</div>
            <br/>
            <div class="faq-answer text-info"> I have considered this for sure. It is my desire to allow users to share whatever materials they deem fit. If that comes to be an issue then I will modify the content that can be uploaded (e.g. don't share complete books, but share book topics) </div>
        </div>
    </div>
    <div class="splash-content-section">If you have a question about the project--please send me an email at mimeswebdev@gmail.com. Whether it's frequent or not, if it's a good question I will put your question on this page. Although the kickstarter has not been launched yet, I am actively working on the project.</div>
<!--</div>-->