<div class="ratings-coming-soon">Ratings coming soon!</div>

<!--
<form class="form-group">
    <label>Rating: </label>

        <label>1</label>
        <input value ="1" ng-model = "newRating" ng-click ="rateResource()" class="radio radio-inline" name="rating" type="radio" />

        <label>2</label>
        <input  value ="2" ng-model = "newRating" ng-click ="rateResource()" class="radio radio-inline" name="rating" type="radio" />

        <label>3</label>
        <input  value ="3" ng-model = "newRating" ng-click ="rateResource()" class="radio radio-inline" name="rating" type="radio" />
   
        <label>4</label>
        <input  value ="4" ng-model = "newRating" ng-click ="rateResource()" class="radio radio-inline" name="rating" type="radio" />
 
        <label>5</label>
        <input  value ="5" ng-model = "newRating" ng-click ="rateResource()" class="radio radio-inline" name="rating" type="radio" />

</form>
rating sum: {{processedRatings }}-->