<div class="">
    <div class="class-header ">{{classItem.className}} <flag></flag>
        <button class="class-subscribe-button btn btn-small" ng-click="subscribeToClass()">Subscribe</button>
          <button id="add-topic-button" ng-click="addingTopic = true" class="class-add-topic-button btn btn-small">Add a Topic!</button>
    </div>
  
</div>
<div class="class-description">Description: {{classItem.description}}</div>
<form ng-show="addingTopic" id="new-topic-form" class="form-group">
    <input class="new-topic-name" type="text" ng-model="newTopic.topicName" placeholder="Enter new topic name">
    <input type="text" ng-model="newTopic.description" placeholder="Enter the description" class="new-topic-description" />
    <button class="new-topic-submit btn btn-primary btn-block" ng-click="addTopic()">Submit Topic</button>
</form>
<!--<div class="topic-header">Topics</div>-->
<topic ng-repeat ="topic in topics"  ng-init ="myTopic = topic; myTopicId = topic._id; contentCreatorId = topic.userId; itemId = topic._id"></topic>
<!--<div ng-repeat="topicInfo in topics">
    <div ng-init="$ctrl.topicInfo = topic">
        
        <topic   topicInfo></topic>
        {{topic}}
    </div>
</div>-->
<!--<topics></topics>-->