
<span ng-click="flagItem()" ng-hide="isFlagged" class="glyphicon glyphicon-flag empty-flag" aria-hidden="true"></span>

<span ng-click="unFlagItem()" ng-hide="!isFlagged" class="glyphicon glyphicon-flag filled-flag" aria-hidden="true"></span>
